.margins-padding{
  border:2px solid blue;
  /*in margins, the different directions are in order of top, right, bottom, left*/
  /*margin is the distance between the screen and the border, padding is inside the margins and the border*/
  margin: 50px 50px 50px 50px;
  padding: 20px 20px 20px 40px;
}
#margin-demo {
	width: 400px;

}

#margin-experiment{
  height: 40px;
  background: blue;
	border: 5px solid pink;
/*	margin-top: 50px;
	margin-right: 250px;
	margin-bottom: 200px;
	margin-left: 200px;
*/
	margin: 50px 250px 200px 200px;

}

#margin-experiment2{
  height: 40px;
  background: blue;
	border: 5px solid pink;
/*	margin-top: 50px;
	margin-right: 250px;
	margin-bottom: 200px;
	margin-left: 200px;
*/
	margin: 50px 250px 200px 200px;
  padding: 10px 10px 10px 10px;

}


#padding-experiment{
	border: 5px solid green;
	margin: 50px 250px 100px 100px;
/*
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
*/
	padding: 20px 20px 20px 20px;
}
